<%- include('../partials/head') %>

<body class="containerNew">

  <div class="container">

    <br><br><br>

    <div class="image">

      <form action="/users/<%= user._id %>/trips" method="POST">


        <h1 class="mb-4">Add a New Trip Plan</h1>

        <div class="mb-3 w-50 div1">
          <div>

            <label class="form-label">Country:</label>
            <input type="text" name="country" class="form-control" required id="country" placeholder="Enter the country">
          </div>

          <div>
            <label class="form-label">Rating (Between 0 - 5):</label>
            <input type="number" name="rating" class="form-control" min="0" max="5" step="0.1" placeholder="Enter the rating">
          </div>
        </div>


        <div class="mb-3 w-50">
            <div>
                <label class="form-label">Activities:</label>
                <input type="text" name="activities" class="form-control" placeholder="Enter activities separated by commas">
              </div>


        </div>

        <div class="mb-3 w-50 ">
          <label class="form-label">Image URL:</label>
          <input type="url" name="image" class="form-control" placeholder="Enter the image URL">
        </div>

        <div class="mb-3 w-50 div1">

          <div>
            <label class="form-label">Best Season:</label>
            <select name="bestSeason" class="form-select">
              <option value="" selected disabled>Select season</option>
              <option value="Spring">Spring</option>
              <option value="Summer">Summer</option>
              <option value="Fall">Fall</option>
              <option value="Winter">Winter</option>
            </select>
          </div>
          <div>
            <label class="form-label">Status:</label>
            <select name="status" class="form-select" required>
              <option value="" selected disabled>Select status</option>
              <option value="Visited">Visited</option>
              <option value="Want to visit">Want to visit</option>
            </select>

          </div>
          <div>


            <label class="form-label">Budget:</label>
            <select name="budget" class="form-select">
              <option value="" selected disabled>Select budget</option>
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select>
          </div>
        </div>

        <div class="mb-3 w-50">
          <label class="form-label">Notes:</label>
          <textarea name="description" class="form-control" rows="3" placeholder="Enter description"></textarea>
        </div>

        <button type="submit" class="btn btn-danger">Add Application</button>
        <br>
      </form>
    </div>
  </div>

</body>

<%- include('../partials/footer') %>